<% content_for :title do %>
    <title>新介昌科技 - 提交您的需求</title>
<% end %>

<div class="order-new-page">
  <div class="order-page-header">
    <h2 class="hidden-xs">请告诉我们您的需求和联系方式</h2>
    <h2 class="visible-xs-block">请告诉我们</h2>
    <h2 class="visible-xs-block">您的需求和联系方式</h2>
  </div>

  <div class="container">
    <% unless flash.now[:alert].blank? %>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <%= flash.now[:alert] %>
            </div>
          </div>
        </div>
    <% end %>
    <div class="row order-form">
      <%= form_for @order, url: order_create_path do |f| %>
          <div class="row">
            <div class="col-md-offset-2 col-md-4 col-xs-offset-1 col-xs-10">
              <div class="form-group">
                <%= f.label '简要描述您的需求', class: 'control-label order-label' %>
                <%= f.text_area :comment, size: '10x8', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-4 col-xs-offset-1 col-xs-10">
              <div class="form-group">
                <%= f.label '请留下您的姓名', class: 'control-label order-label' %>
                <%= f.text_field :customer_name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label '联系电话', class: 'control-label order-label' %>
                <%= f.text_field :customer_mobile, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label '所在城市', class: 'control-label order-label' %>
                <div class="form-inline">
                  <%= f.collection_select :addr_province, City.provinces, :gb_code, :name, {}, {class: 'form-control selectpicker'} %>
                  <label class="visible-xs-inline-block"></label>
                  <%= f.select :addr_city, '', {}, {class: 'form-control selectpicker'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-5 col-md-2 col-xs-offset-1 col-xs-10 text-center">
              <%= f.submit '提  交', class: 'btn btn-primary btn-block order-btn' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
