<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :title %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--<%= stylesheet_link_tag 'css/bootstrap-select.css', media: 'all', 'data-turbolinks-track' => true %>-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header_nav' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'order', 'data-turbolinks-track' => true %>
</body>
</html>
